AI_BOT_NAME=RyanBot
AI_SESSION_NAME=ai-session
AI_BOT_PREFIX=!
AI_ADMIN_NUMBER=628xxxxxxxxx@c.us

AI_OWNER_NAME=
AI_OWNER_TITLE=
AI_OWNER_COMPANY=
AI_OWNER_LANGUAGE=Bahasa Indonesia

GROQ_API_KEY=

LOG_LEVEL=info
